/*ESCRITORIO*/
/*----------------------------------FOOTER GENERAL--------------------------------*/
@media( min-width:768px) and (max-width:1366px){
    body {
        background:  #333333;
    }
    footer{
        background-color: #333333;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 500px;
    }
/*--------------------------------------------------------------------------------*/
/*----------------------------------FOOTER contenedor*----------------------------*/
    .footer{
        display: flex;
        width: 100%;
    }
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------H1----------------------------------*/
    h1{
        color: white;
        font-size: 1.5em;
        font-family:titulo;
    }
    @font-face{
        font-family: titulo;
        src: url(Vogue.ttf);
    }
/*---------------------------------------------------------------------------------*/
/*.--------------------------------ESCUELA-------------------------------------*/
    .escuela{
        width: 25%;
        margin-left: 1%;
    }
    .escuela h1{
        margin-top: 70px;
    }
/*ESCUELA IMAGEN*/
    .escuela img{
        height: 150px;
        width: 150px;
        margin-left: 30%;
    }
    h2{
        color: white;
        margin-bottom: -15%;
        text-align: justify;
        font-family:'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 1.4em;
    } 
/*------------------------------TERMINA ESCUELA--------------------------------*/
/*-----------------------------------CLIMA-------------------------------------*/
    .clima{
         width: 30%;
    }
    .clima h1{
         margin-top:  70px;
    }
/*----------------------------------TERMINA CLIMA---------------------------------*/
/*----------------------------------UBICACION----------------------------------*/
    .ubicacion{
        width: 15%;
    }  
    .ubicacion h1{
        margin-top: 70px;
    }
    .ubicacion img{
        height: 10px;
        width: 10px;
        margin-right: 10%;
        display: flex;
    } 
/*---------------------------TERMINA UBICACION--------------------------------*/
/*-----------------------------------DATOS------------------------------------*/
    .datos{
        width: 40%;
    }
    .datos h1{
         margin-top: 70px;  
    }
/*--------------------------------datos ubicación-------------------------------------*/
    .textoubi article{
        color: white;
        margin-left: 30%; 
        position: relative; 
        display: flex; 
        top: -20px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagenubi img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*-----------------------------termina datos ubicación----------------------------*/
/*--------------------------datos telefono-----------------------------------------*/
    .textotelefono article{
        color: white;
        margin-left: 30%;
        position: relative;
        display: flex;
        top: -27px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagentelefono img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*-------------------------termina datos telefono---------------------------------*/
/*-------------------------------------datos gmail---------------------------------*/
    .textogmail article{
        color: white;
        margin-left: 30%;
        position: relative;
        display: flex;
        top: -35px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagengmail img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*----------------------------termina datos gmail----------------------------------*/
/*--------------------------------TERMINA DATOS------------------------------------*/
/*-------------------------------COMIENZA CONTADOR----------------------------------*/
    h3{ 
        color: white;
        font-size: 1.5em;
        font-family:titulo;  
        margin-left: 23%;
        top: 30%;
        margin-top: -10%;
    }
/*------------------------------TERMINA CONTADOR------------------------------------*/
/*----------------------------------COMIENZA PORTFOLIO------------------------------*/
    .portfolio img{
        height: 9%;
        width: 9%;
        margin-left: 90%;
    }
/*-------------------------------------TERMINA PORTFOLIO----------------------------*/
}
/*TABLET*/
@media(min-width: 576px) and (max-width: 991.98px) and (orientation:portrait){
    body{ 
        background: #333333;
    }
    body {
        background:  #333333;
    }
    footer{
        background-color: #333333;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 500px;
    }
/*--------------------------------------------------------------------------------*/
/*----------------------------------FOOTER contenedor*----------------------------*/
    .footer{
        display: flex;
        width: 100%;
    }
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------H1----------------------------------*/
    h1{
        color: white;
        font-size: 1.5em;
        font-family:titulo;
    }
    @font-face{
        font-family: titulo;
        src: url(Vogue.ttf);
    }
/*---------------------------------------------------------------------------------*/
/*.--------------------------------ESCUELA-------------------------------------*/
    .escuela{
        width: 25%;
        margin-left: 1%;
    }
    .escuela h1{
        margin-top: 70px;
    }
/*ESCUELA IMAGEN*/
    .escuela img{
        height: 150px;
        width: 150px;
        margin-left: 30%;
    }
    h2{
        color: white;
        margin-bottom: -15%;
        text-align: justify;
        font-family:'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 1.4em;
    } 
/*------------------------------TERMINA ESCUELA--------------------------------*/
/*-----------------------------------CLIMA-------------------------------------*/
    .clima{
         width: 30%;
    }
    .clima h1{
         margin-top:  70px;
    }
/*----------------------------------TERMINA CLIMA---------------------------------*/
/*----------------------------------UBICACION----------------------------------*/
    .ubicacion{
        width: 15%;
    }  
    .ubicacion h1{
        margin-top: 70px;
    }
    .ubicacion img{
        height: 10px;
        width: 10px;
        margin-right: 10%;
        display: flex;
    } 
/*---------------------------TERMINA UBICACION--------------------------------*/
/*-----------------------------------DATOS------------------------------------*/
    .datos{
        width: 40%;
    }
    .datos h1{
         margin-top: 70px;  
    }
/*--------------------------------datos ubicación-------------------------------------*/
    .textoubi article{
        color: white;
        margin-left: 30%; 
        position: relative; 
        display: flex; 
        top: -20px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagenubi img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*-----------------------------termina datos ubicación----------------------------*/
/*--------------------------datos telefono-----------------------------------------*/
    .textotelefono article{
        color: white;
        margin-left: 30%;
        position: relative;
        display: flex;
        top: -27px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagentelefono img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*-------------------------termina datos telefono---------------------------------*/
/*-------------------------------------datos gmail---------------------------------*/
    .textogmail article{
        color: white;
        margin-left: 30%;
        position: relative;
        display: flex;
        top: -35px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagengmail img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*----------------------------termina datos gmail----------------------------------*/
/*--------------------------------TERMINA DATOS------------------------------------*/
/*-------------------------------COMIENZA CONTADOR----------------------------------*/
    h3{ 
        color: white;
        font-size: 1.5em;
        font-family:titulo;  
        margin-left: 23%;
        top: 30%;
        margin-top: -10%;
    }
/*------------------------------TERMINA CONTADOR------------------------------------*/
/*----------------------------------COMIENZA PORTFOLIO------------------------------*/
    .portfolio img{
        height: 9%;
        width: 9%;
        margin-left: 90%;
    }
/*-------------------------------------TERMINA PORTFOLIO----------------------------*/
}
/*MOVIL*/
@media(max-width:768px), (min-width: 320px ), (orientation:landscape){
    body{ 
        background: #333333;
    }
    footer{
        background-color: #333333;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 500px;
    }
/*--------------------------------------------------------------------------------*/
/*----------------------------------FOOTER contenedor*----------------------------*/
    .footer{
        display: flex;
        width: 100%;
    }
/*--------------------------------------------------------------------------------*/
/*--------------------------------------------H1----------------------------------*/
    h1{
        color: white;
        font-size: 1.5em;
        font-family:titulo;
    }
    @font-face{
        font-family: titulo;
        src: url(Vogue.ttf);
    }
/*---------------------------------------------------------------------------------*/
/*.--------------------------------ESCUELA-------------------------------------*/
    .escuela{
        width: 25%;
        margin-left: 1%;
    }
    .escuela h1{
        margin-top: 70px;
    }
/*ESCUELA IMAGEN*/
    .escuela img{
        height: 150px;
        width: 150px;
        margin-left: 30%;
    }
    h2{
        color: white;
        margin-bottom: -15%;
        text-align: justify;
        font-family:'Times New Roman', Times, serif;
        font-weight: 400;
        font-size: 1.4em;
    } 
/*------------------------------TERMINA ESCUELA--------------------------------*/
/*-----------------------------------DATOS------------------------------------*/
    .datos{
        width: 40%;
    }
    .datos h1{
         margin-top: 70px;  
    }
/*--------------------------------datos ubicación-------------------------------------*/
    .textoubi article{
        color: white;
        margin-left: 30%; 
        position: relative; 
        display: flex; 
        top: -20px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagenubi img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*-----------------------------termina datos ubicación----------------------------*/
/*--------------------------datos telefono-----------------------------------------*/
    .textotelefono article{
        color: white;
        margin-left: 30%;
        position: relative;
        display: flex;
        top: -27px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagentelefono img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*-------------------------termina datos telefono---------------------------------*/
/*-------------------------------------datos gmail---------------------------------*/
    .textogmail article{
        color: white;
        margin-left: 30%;
        position: relative;
        display: flex;
        top: -35px;
        font-family:'Times New Roman', Times, serif;
        font-weight: 100;
        font-size: 1em;
    }
    .imagengmail img{
        height: 7%;
        width: 7%;
        margin-left: 20%;
        display: flex;
        position: relative;
    }
/*----------------------------termina datos gmail----------------------------------*/
/*--------------------------------TERMINA DATOS------------------------------------*/
/*-------------------------------COMIENZA CONTADOR----------------------------------*/
    h3{ 
        color: white;
        font-size: 1.5em;
        font-family:titulo;  
        margin-left: 23%;
        top: 30%;
        margin-top: -10%;
    }
/*------------------------------TERMINA CONTADOR------------------------------------*/
/*----------------------------------COMIENZA PORTFOLIO------------------------------*/
    .portfolio img{
        height: 9%;
        width: 9%;
        margin-left: 90%;
    }
/*-------------------------------------TERMINA PORTFOLIO----------------------------*/
}
